on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Jupyter deps for Quarto
        run: |
          python -m pip install --upgrade pip
          python -m pip install -U jupyter ipykernel nbformat nbclient jupyter-cache

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Force Quarto to use this Python
        run: |
          echo "QUARTO_PYTHON=$(which python)" >> $GITHUB_ENV
          echo "QUARTO_PYTHON=$(which python)"

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
